OPENHIP_ENV=local
OPENHIP_NO_PHI=true
OPENHIP_API_URL=http://localhost:8000
OPENHIP_DB_URL=sqlite:///./openhip.db

POSTGRES_USER=openhip
POSTGRES_PASSWORD=openhip
POSTGRES_DB=openhip
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

HAPI_FHIR_URL=http://localhost:8080/fhir
